Bonjour {{ utilisateur.username }}

<br />
Votre commande n: {{ commande.id }} est  validée.
<br>
<br>
L'équipe Bazzar vous remerci pour votre commande.
<br>
<br>
<a href="localhost/fos/web/app_dev.php/Annuler/{{ commande.id}}">
    pour annuler Votre Commande veuillez Cliquez sur ce lien</a>
<a href="localhost/fos/web/app_dev.php/factures">
    pour Pour consltez Vos Factures Veuillez Cliquez sur ce lien</a>
<br /><br />

Cordialement.